
<div fxLayout="column" class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px" >
		
			<div fxFlex class="stepper-component-holder mat-elevation-z4">
				<mat-toolbar class="stepper-header">
					<h1 class="mat-headline center-align" >Campaigns</h1>
				</mat-toolbar>
				
				<div class="stepper-container" fxFlex.sm="350">
					
					<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="60px" fxFlex.sm="350">
						<div fxFlex.xs="100" fxFlex.lg="70" fxFlex.md="70" fxFlex.sm="170" >				
		
							<mat-horizontal-stepper [linear]="isLinear" #stepper fxFlexfill>
									<mat-step [stepControl]="firstFormGroup">
											<form [formGroup]="firstFormGroup">
											  <ng-template matStepLabel>Select Campaign</ng-template>
											  <div>											
												<div class="headertable">
													<div fxLayout="row" fxLayout="row wrap" class="headerRow">
															<div fxFlex="10" style="text-align:center;">Sl No</div>																				
															<div fxFlex="25">Name</div>
															<div fxFlex="35">Description</div>															
															<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">Goal</div>																																
															<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">Type</div>
														</div>																							 
													<div *ngFor="let campaign of campaigns;let i=index" class="cellRow">
														<div fxLayout="row" (click)="SelectCampaign(campaign,stepper)"  fxLayout="row wrap" class="cellRow">
																<div fxFlex="10" style="text-align:center;">{{i + 1}}</div>	
															<div fxFlex="25"><img style="width:20px;height:20px;margin-right:5px;border-radius:50%;" [src]='"assets/uploads/"+campaign.ImageId'/>{{campaign.Name}}</div>
															<div fxFlex="35">{{campaign.Description}}</div>															
															<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">₹{{campaign.MaximumCredit}}</div>																																
															<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">{{campaign.IsCharity?"Charity":"Lending"}}</div>		
														</div>														
													</div>										
												</div>
													 
											  </div>		
											  
											</form>
										  </mat-step>
							<mat-step [stepControl]="secondFormGroup" >
								<form [formGroup]="secondFormGroup" >
									<ng-template matStepLabel>Details Summary</ng-template>
									<div style="height:10px;"></div>
									<mat-accordion>
											<mat-expansion-panel>
												<mat-expansion-panel-header>
													<mat-panel-title>
														Campaign Details
													</mat-panel-title>
													</mat-expansion-panel-header>
										
									<div fxLayout="row" style="height:40px;" fxLayout="row wrap">
											<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25" class="CaptionTitle">Name</div>
											<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">{{selectedCampaign?.Name}}</div>									
										</div>
										<div fxLayout="row" style="height:40px;" fxLayout="row wrap">
											<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25" class="CaptionTitle">Description</div>
											<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">{{selectedCampaign?.Description}}</div>									
										</div>
										<div fxLayout="row" style="height:40px;" fxLayout="row wrap">
											<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25" class="CaptionTitle">Goal</div>
											<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">₹{{selectedCampaign?.MaximumCredit}}</div>									
										</div>	
										<div fxLayout="row" style="height:40px;" fxLayout="row wrap">
											<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25" class="CaptionTitle">Raised fund</div>
											<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">₹{{selectedCampaign?.AvailableCredit}}</div>									
										</div>	

											</mat-expansion-panel>
											<mat-expansion-panel >
												<mat-expansion-panel-header>
													<mat-panel-title>
														Beneficiary Details
													</mat-panel-title>
													</mat-expansion-panel-header>
													<div fxLayout="row" style="height:40px;" fxLayout="row wrap">
														<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25" class="CaptionTitle">Name</div>
														<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">{{beneficiaryData?.Name}}</div>									
													</div>
													<div fxLayout="row" style="height:40px;" fxLayout="row wrap">
														<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25" class="CaptionTitle">Description</div>
														<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">{{beneficiaryData?.Description}}</div>									
													</div>
													<div fxLayout="row" style="height:40px;" fxLayout="row wrap">
														<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25" class="CaptionTitle">Amount</div>
														<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">₹{{beneficiaryData?.RequestAmount}}</div>									
													</div>	
													<div fxLayout="row" style="height:40px;" fxLayout="row wrap">
														<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25" class="CaptionTitle">PurposeType</div>
														<div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">{{beneficiaryData?.PurposeType}}</div>									
													</div>	
											</mat-expansion-panel>																
											
										</mat-accordion>
										<div style="height:10px;"></div>
										
									<div>
										<button mat-button (click)="BackClick()" matStepperPrevious>Back</button>
										<button mat-button (click)="BackClick()" matStepperNext>Next</button>
									</div>
								</form>
								</mat-step>
							  <mat-step [stepControl]="thirdFormGroup" >
								<form [formGroup]="thirdFormGroup" >
										<ng-template matStepLabel >Fill out contribution details</ng-template>
									
										<div>											
											<mat-form-field>
												<input matInput placeholder="Amount" formControlName="Amount" required>
											</mat-form-field>
										</div>
											
								  <div>
									<button mat-button (click)="BackClick()" matStepperPrevious>Back</button>
									<button mat-button matStepperNext (click) ="SubmitContribution()">Submit</button>
								  </div>
								</form>
							  </mat-step>
							  
							  <mat-step>
								<ng-template matStepLabel>Done</ng-template>
								You are now done.<br/>					    
							  </mat-step>
							</mat-horizontal-stepper>	           
		
						</div>
						
					<img [src]='"assets/uploads/"+CampaignImage' *ngIf="CampaignImage" class="ImageStyle">
					</div>
		
				</div>		
		
			</div>
		
		</div>